* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
header, main, footer {
    width: 1040px;
    margin: 0 auto;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;

    margin-bottom: 100px;
}

header {
    height: 120px;
}
#main-nav ul {
    line-height: 50px;
    text-align: center;
}
#main-nav a {
    text-decoration: none;
    color: white;

    background-color: blueviolet;
    border-radius: 15px;

    margin: 10px;
    padding: 10px 30px;
}
#main-nav a:hover {
    box-shadow: 1px 1px 20px white;
}
#main-nav li {
    display: inline;

    margin: 0px 10px;
}

main {
    padding-bottom: 100px;
    margin-top: 100px;
}

footer {
    margin: -100px auto 0;
    position: relative;
    height: 100px;
}
.footer-block, .footer-icons {
    display: inline-block;
    width: 335px;
}
.footer-icons {
    text-align: right;
}
.footer-block {
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 10px black;

    transition: 0.5s;
}
.footer-block:hover {
    text-shadow: 0px 0px 10px blueviolet;
}
.footer-img {
    width: 50px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 30px;

    transition: 1s;
}
.footer-img:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 20px blueviolet;
}

body {
    background-color: lightblue;
    color: black;
}

#logo {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;

    transition: 1s;
}
.blueviolet_text {
    color: blueviolet;
}
.our-company img {
    width: 550px;

    margin-right: 40px;
    float: left;

    border-radius: 15px;

    box-shadow: 1px 1px 20px blueviolet;

    transition: 1s;
}
.our-company img:hover {
    box-shadow: 1px 1px 100px blueviolet;

    transform: scale(1.2);
}
.our-company h1 {
    color: white;
    text-shadow: 0px 0px 10px blueviolet;
}
.our-company p {
    color: white;
    text-shadow: 0px 0px 5px black;
}

#panorama {
    width: 100%;
    height: 150px;
    background: url(../img/2.jpg) no-repeat center 70%;
    background-size: cover;

    margin-top: 50px;
}


.services {
    padding: 35px;
    border: 5px;
}

.services_img {
    width: 240px;
    height: 150px;
    margin-bottom: 10px;

    border-radius: 15px;

    box-shadow: 1px 1px 20px blueviolet;

    transition: 1s;
}
.services_img:hover {
    transform: scale(1.3);
    box-shadow: 1px 1px 100px blueviolet;
}
.services_img:active {
    box-shadow: 1px 1px 100px white;
}

.services_item {
    margin-left: 40px;
    margin-right: 40px;
    width: 240px;
    float: left;
}
.services_item h2 {
    color: white;
    text-shadow: 0px 0px 10px blueviolet;
}
.services_item p {
    color: white;
    text-shadow: 0px 0px 5px black;
}


.price {
    border-collapse: collapse;
    width: 80%;
}
.price td, th {
    text-align: center;
    padding: 10px;
}
.price th:first-child {
    width: 10%;
}
.price th:nth-child(2), .price th:last-child {
    width: 25%;
}
.price td:nth-child(3) {
    text-align: left;
}
.price thead {
    background-color: blueviolet;
    color: white;
    border-bottom: 5px solid white;
}
.price tbody tr:nth-child(1), tr:nth-child(3) {
    background-color: #5A6BE8;
    color: white;
}
.price tr:nth-child(2), tr:nth-child(4) {
    background-color: #785AE8;
    color: white;
    border-top: 3px solid white;
    border-bottom: 3px solid white;;
}
.price tr:nth-child(4) {
    border-bottom: none;
}
.price caption {
    text-align: left;
    margin-bottom: 5px;
}

.table-flex {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
 
.caption {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px blueviolet;
    text-transform: uppercase;


}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.h1--invisible {
    visibility: hidden;
}


.our-team {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#our-team_h {
    margin: 10px;

    color: white;
    text-shadow: 0px 0px 10px blueviolet;
}

#our-team_img {
    width: 500px;

    margin: 10px;


    width: 550px;
    
    margin-right: 40px;
    float: left;
    
    border-radius: 15px;
    
    box-shadow: 1px 1px 20px blueviolet;
    
    transition: 1s;
}
#our-team_img:hover {
    box-shadow: 1px 1px 100px blueviolet;
    
    transform: scale(1.2);
}

#our-team_text {
    width: 500px;

    margin: 10px;

    color: white;
    text-shadow: 0px 0px 5px black;
}


.contacts_h {
    text-align: center;

    color: white;
    text-shadow: 0px 0px 10px blueviolet;
}

.contacts_a {
    color: blueviolet;
}

.contacts p {
    text-align: center;
}


#clients_h {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;

    color: white;
    text-shadow: 0px 0px 10px blueviolet;
}
.clients {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.client {
    display: flex;
    flex-direction: column;

    margin: 10px;

    gap: 20px;
}
.client h3 {
    text-align: center;

    color: white;
    text-shadow: 0px 0px 5px black;
}
.client img {
    width: 300px;
    height: 300px;

    border-radius: 50%;

    box-shadow: 1px 1px 100px white;

    transition: 1s;
}
.client img:hover {
    border-radius: 50px;
    transform: scale(1.1);
    box-shadow: 1px 1px 100px blueviolet;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.form h2 {
    text-align: center;
    margin-bottom: 10px;

    color: white;
    text-shadow: 0px 0px 10px blueviolet;
}
.form input {
    width: 400px;
    height: 30px;

    margin: 0 auto;
    padding: 10px;

    border: none;
    border-radius: 15px;

    box-shadow: 0px 0px 20px white;

    transition: 1s;
}
.form input:hover {
    box-shadow: 0px 0px 20px blueviolet;
}
.form button {
    width: 420px;
    height: 50px;

    margin: 0 auto;

    border-radius: 15px;
    border: none;

    background-color: white;
    box-shadow: 0px 0px 20px white;

    transition: 1s;
}
.form button:hover {
    color: white;
    background-color: blueviolet;
    box-shadow: 0px 0px 20px blueviolet;
    transform: scale(1.05);
}
